<!--View the detail of one category of a survey -->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <%#= link_to "Back", team_surveys_path(current_user.team_id), class: "light-grey-text" %>
      <h1 class="orange-font margin-lefty">Recap</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
        <%= render "shared/cards/#{@type}_card", rating: @rating, ratings: @ratings %>
    </div>

    <div class="col-md-8">
      <div class="card card-md">
        <h4 class="text-center orange-font big-font margin-bottom-5">Recommandations 💪</h4>

      <div class="light-grey-text"><%= render "shared/recommandations/#{@type}_reco" %></div>

      </div>
    </div>
    <div class="col-md-12">
      <%= link_to "Back", survey_path(Survey.find(Question.find(params[:id]).survey_id)), class: "button button-white" %>

    </div>
  </div>
</div>
