// Import Google fonts
@import url("https://fonts.googleapis.com/css?family=Lato:200,300,400,700,900");

// Define fonts for body and headers
$body-font: "Lato";
$headers-font: "Lato";


.light-font{
  font-weight : 200;

}

.bold-font{

}

.light-grey-text {
  color: #A6A7A8;
  font-size: 12px;
}


.orange-font{
  color: #F9B002;
}

.logo {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: -1px;
}


.logo:hover{
  text-decoration:none ;
  color:#F9B002;
}
