// Import Google fonts
@import url("https://fonts.googleapis.com/css?family=Lato");

// Define fonts for body and headers
$body-font: "Lato";
$headers-font: "Lato";


.light-font{


}

.bold-font{

}

.light-grey-text {
  color: #A6A7A8;
  font-size: 12px;
}


.orange-font{
  color: #F9B002;
}
