<h1>User#survey</h1>

<p>
  <%= @greeting %>, <%= @user.first_name %>, find me in app/views/user_mailer/survey.html.erb
</p>
<p>t'es beau</p>
<p><%= link_to "Answer", new_survey_response_url(@survey) %></p>
