// Specific CSS for your home-page
.background-gradient {
  background-image: linear-gradient(to right,#FF7300,#FFC844);
  padding-bottom: 80px;
  padding-top: 80px;
  height:650px;
}

.center-vertical-text{
  margin-top: 80px;
}

.polygone{
 width: 450px;
 height: 23px;
 border-radius: 20px;
 background:#F7C478;
 font-size: 12px;
 padding: 5px;
 padding-top: 3px;
}

.little_polygone {
 border-radius: 10px;
 background:#FF850E;
 margin-right: 7px;
 margin-bottom: 4px;
}

.text_align {
  text-align: center;
}

.pop-new {
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 4px;
  padding-bottom: 2px;
  color: white;
}

.small-font{
  font-size: 7px;
}

.fixed-width{
  width: 500px;
  margin-left: 50px;

}

.margin-align{
  margin-left: 55px;
}

