   <% if @rating < 3  %>
 <h4 class="light-font"><strong>Warning! Your team needs better tools and processes improvement. </strong></h4>
  <br>

  <p class="light-font">Use flowcharts to document processes. It highlights detailed breakdown of processes, as well as describing relationships and to better understand the work efforts involved.</p>
  <p class="light-font">Use the catchball method. Someone suggests a idea and then “throw” it to someone else for opinions. It can bounce around back and forth until the improvement is complete.</p>
  <p class="light-font"> Go to the place where work gets done to observe and identify opportunities for improvement.</p>
  <% elsif @rating = 3 && @rating < 4 %>
  <h4 class="text-center"><strong> Beware, it could be better!</strong> Regular checkups with your team will catch deviations and enable a corrective course of action.</h4>
  <% else %>
   <h4 class="orange-font text-center"><strong>Awesome, your team has access to relevant tools, accurate processes and useful training!</strong></h4>
<% end%>


