<div class="background-gradient">
  <div class="container">
    <div class="row">
        <div class="col-xs-5 col-md-offset-1 center-vertical-text">
          <div class="polygone">
            <p class="white-font"><span class="little_polygone pop-new">NEW</span> Discover personnalized recommendations per category</p>
          </div>
          <div class="">
            <h1 class="white-font">from Start-up to Scale-up</h1>
            <p class="white-font">The real challenge of start-ups is to make sure the first 100 people are engaged, motivated and feel good at work so they can drive your company to the top</p>
          </div>
        </div>
        <div class="col-xs-5 col-md-offset-1">
          <%# render 'devise/registrations/new' %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-5 col-md-offset-1 card_infos">
      <h5 class="orange-font">ANONYMOUS</h5>
      <p class="text-align">Ti amo, un soldo Ti amo, in aria Ti amo se viene testa Vuol dire che basta: Lasciamoci Ti amo, io sono (tiam) in fondo un uomo Che non ha freddo nel cuore Nel letto comando io Ma tremo Davanti al tuo seno Ti odio e ti amo E' una farfalla che muore Sbattendo le ali L'amore che a letto si fa</p>
      <p class="orange-font font-size">Learn More</p>
    </div>
    <div class="col-xs-5 col-md-offset-1 card_infos">
      <h5 class="orange-font">QUICK SURVEYS</h5>
      <p>Ti amo, un soldo Ti amo, in aria Ti amo se viene testa Vuol dire che basta: Lasciamoci Ti amo, io sono (tiam) in fondo un uomo Che non ha freddo nel cuore Nel letto comando io Ma tremo Davanti al tuo seno Ti odio e ti amo E' una farfalla che muore Sbattendo le ali L'amore che a letto si fa</p>
      <p class="orange-font font-size">Learn More</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <h5 class="orange-font">RECOMMANDATIONS</h5>
      <p>Ti amo, un soldo Ti amo, in aria Ti amo se viene testa Vuol dire che basta: Lasciamoci Ti amo, io sono (tiam) in fondo un uomo Che non ha freddo nel cuore Nel letto comando io Ma tremo Davanti al tuo seno Ti odio e ti amo E' una farfalla che muore Sbattendo le ali L'amore che a letto si fa</p>
      <p class="orange-font font-size">Learn More</p>
    </div>
    <div class="col-xs-6">
      <h5 class="orange-font">ILLIMITED USERS</h5>
      <p>Ti amo, un soldo Ti amo, in aria Ti amo se viene testa Vuol dire che basta: Lasciamoci Ti amo, io sono (tiam) in fondo un uomo Che non ha freddo nel cuore Nel letto comando io Ma tremo Davanti al tuo seno Ti odio e ti amo E' una farfalla che muore Sbattendo le ali L'amore che a letto si fa</p>
      <p class="orange-font font-size">Learn More</p>
    </div>
  </div>
  <div class="row">
    <h4>Trusted by 2 millions users</h4>
    <p>Ti amo, un soldo Ti amo, in aria Ti amo se viene testa Vuol dire che basta: Lasciamoci Ti amo</p>
  </div>
</div>
