  <div class="card">
    <h4>Enterprise culture</h4>
    <p class="light-grey-text">Engagement, trust & motivation indicator</p>
    <div class="frame">
      <h4 class="light-font text-center"> Culture score </h4>
      <p class="text-center giant-font bold-font orange-font"><%= rating.round(1) %><span class="orange-font bold-font regular-font">/5</span></p>
    </div>
  </div>
