  <div class="card">
    <h4>Enterprise culture</h4>
    <p class="light-grey-text">Engagement, trust & motivation indicator</p>
    <div class="frame">
      <h5 class="light-font text-center"> Team's rating </h5>
      <p class="text-center giant-font bold-font orange-font"><%= rating %><span class="orange-font bold-font regular-font">/5</span></p>
    </div>
  </div>
