<div class="card orange-card">
  <h4 class="margin-lefty">Global Happiness</h4>
  <p class="light-font baby-font margin-lefty">Evolution over time</p>
  <div class="frame-transparant">
      <%= content_tag :div, class: "ratings_tools", data: {ratings: Array(ratings), labels: Array(labels) } do %>
    <% end %>
    <canvas id="myChart" class="chart-dimensions"></canvas>
  </div>
  <% if params[:id] %>
    <%= link_to "Reviews", survey_reviews_path(@survey), class: "button button-white margin-topy" %>
  <% elsif params[:team_id] %>
    <%= link_to "Reviews", team_reviews_team_path(@team) , class: "button button-white margin-topy" %>
  <% else %>
    <%= link_to "Reviews", review_all_path, class: "button button-white margin-topy" %>
  <% end %>
</div>

