<div class="card">
  <h4>Well being</h4>
  <p class="light-grey-text">My team has a good work-life balance</p>
  <div class="frame">
    <h4 class="light-font text-center"> Weather of the team </h4>
    <p><%= @well_being %></p>
  </div>
</div>
