.button {
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 14px 10px;
    cursor: pointer;
    padding: 14px 60px;
    border-radius: 3px;
}


.button-small{
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 10px 8px;
  cursor: pointer;
  padding: 10px 30px;
  border-radius: 3px;
}

.button-small:hover{
  text-decoration:none;
  color:white;
}

.button:hover {
  text-decoration: none;
  color: white;
}

.button-purple{
  background-color: #6A00E5;
}

.button-purple:hover{
  background-color: #4126AB;
}


.button-orange {
    background-color: #FFB200;
}


.button-orange:hover{
    background-color: #EFA901;
}

.button-white{
  background-color: white;
  box-shadow: -5px 9px 10px 1px rgba(0,0,0,0.07);
  color: #626262;
}


.button-white:hover{
  color: #626262;
}

.left-margin{
  margin-left: 108px;
}



/*DROPDOWN STYLE*/

/* Style The Dropdown Button */
.dropbtn {
    background-color: #FFF;
    color: #B4B4B4;
    padding: 16px;
    font-size: 12px;
    border-width: 1px;
    border-color: #d8d8d8;
    border-radius: 3px;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    font-weight: 200;
    color: #A6A7A8;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #FFF;
}

.right{
  margin-left: 192px;
  margin-top: 20px;
}
